<footer>
    <div class="container">

    
    <div class="row">        
   
    <div class="d-flex justify-content-center">
        <p class="botao-color d-flex justify-content-center">Vamos lá!</p>
    </div>
</div>
    
<div class="row">
    <div class="col-md-3 component-footer">
        <p class="mb-5">Serviços médicos </p>
        <p>Clínica geral</p>   
        <p>Endocrinologia</p>  
        <p>Psicologia</p>  
        <p>Nutrição</p>           
    </div>
    
    <div class="col-md-3 component-footer">
    <p class="mb-5">Serviços sociais</p> 
    <p>Assistência jurídica</p>  
    <p> Denúncias</p> 
    <p> Ouvidoria</p> 
    </div>
    
    <div class="col-md-3 component-footer">
       <p class="mb-5">Cidades atendidas</p> 
     <p>Rio de Janeiro</p>  
     <p>São Paulo</p> 
     <p>Niterói</p> 
     <p>Recife</p> 
     <p>Salvador</p>  
    </div>
    
    <div class="col-md-3 component-footer">
    <p class="estados">Vitória</p>    
    <p>Belo Horizonte</p>  
    <p>João Pessoa</p>  
    <p> Porto Alegre</p> 
    </div>
</div>
</div>
</footer>


    
