.menu-cor{
    background: rgb(148,94,117);
    background: linear-gradient(90deg, rgba(148,94,117,1) 7%, rgba(78,81,191,1) 100%);
}

.navbar-toggler{
    margin-left: 100px;
    border-color: #ffe9ce;
}

.entrar{
    margin-right: 100px;
    background-color: rgba(78,81,191,1) 0%;
    border-color: #ffe9ce;
    font-weight: 600;
    color:aliceblue;
}

.entrar:hover{
    background-color: aliceblue;
    color: black;
}