.menu-cor{
    background: rgb(181,139,174);
    background: linear-gradient(90deg, rgba(181,139,174,1) 6%, rgba(121,162,198,1) 73%);
}

.navbar-toggler{
    margin-left: 100px;
    border-color: transparent;
}

.entrar{
    margin-right: 100px;
    background-color: rgba(78,81,191,1) 0%;
    border-color: #ffe9ce;
    font-weight: 600;
    color:aliceblue;
}

.entrar:hover{
    background-color: aliceblue;
    color: black;
}


/* Menu */
.fonte{
	font-size: 18px;
}

@media (min-width : 994px){  
    .buscar{
        width:130px; 
        font-size: 13px;
        }
}

#burger-toggle {
    position: absolute;
    appearance: none;
    opacity: 0;
}
#burger-toggle:checked ~ .menu {
    opacity: 1;
    visibility: visible;
}
#burger-toggle:checked ~ .menu .menu-nav-link span div, #burger-toggle:checked ~ .menu img, #burger-toggle:checked ~ .menu .title p {
    transform: translateY(0);
    transition: 1.2s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
}
#burger-toggle:checked ~ .burger-menu .line::after {
    transform: translateX(0);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(1) {
    transform: translateY(calc(var(--burger-menu-radius) / 5)) rotate(45deg);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(2) {
    transform: scaleX(0);
}
#burger-toggle:checked ~ .burger-menu .line:nth-child(3) {
    transform: translateY(calc(var(--burger-menu-radius) / -5)) rotate(-45deg);
}
.burger-menu {
    --burger-menu-radius: 4em;
    position: fixed;
    top: 0.1vh;
    left: 5vw;
    z-index: 100;
    
    width: var(--burger-menu-radius);
    height: var(--burger-menu-radius);
    outline: none;
    cursor: pointer;
}
.burger-menu .line {
    position: absolute;
    padding-top: 2px;
    left: 25%;
    width: 50%;
    height: 3px;
    background: black;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}
.burger-menu .line:nth-child(1) {
    top: 30%;
}
.burger-menu .line:nth-child(2) {
    top: 50%;
}
.burger-menu .line:nth-child(3) {
    top: 70%;
}
.burger-menu .line::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-color-darker);
    transform: translateX(-100%);
    transition: 0.25s;
}
.burger-menu .line:nth-child(2)::after {
    transition-delay: 0.1s;
}
.burger-menu .line:nth-child(3)::after {
    transition-delay: 0.2s;
}
.burger-menu:hover .line::after {
    transform: translateX(0);
}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: white;
    opacity: 0;
    overflow-x: hidden;
    visibility: hidden;
    transition: 0.3s;
}

.menu-nav {
    list-style: none;
    padding-left: "10px";
    padding-top: "10px";
    flex-direction: column;
}

.menu-nav-item {
    flex: 1;
}
.menu-nav-link {
    position: relative;
    display: inline-flex;
    font-size: 2rem;
    color: black;
    text-decoration: none;
}
.menu-nav-link span {
    overflow: 100000px;
}
.menu-nav-link span div {
    transform: translateY(102%);
}
.menu-nav-link::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--primary-color);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}
