<body class="container-fluid p-0 m-0">
    
    <main>

        <div class="container-fluid p-0 m-0">
            <div class="col-md-12 comecar">
                <div class="row">

                    <div class="col-md-6">
                            <div class="container">
                                <h3 class="titulo">A mudança começa aqui</h3>
                                <p class="descricao">Aqui na u.tra você encontra
                                    as principais informações e serviços
                                    especializados de acordo com o que 
                                    você precisa. </p>
                                <div class="botoes">
                                    <button role="button" class="botao">
                                        COMEÇAR
                                    </button>
                                </div>
                            </div>
            </div>

                    
            <div class="col-md-6">
                <div class="card PD" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Como podemos te ajudar?</h5>
                      <h6 class="card-subtitle mb-2 text-muted pt-3 pb-1">Tipo de atendimentos</h6>
                            <button type="button" class="btn btn-sm presencial pr-5">PRESENCIAL</button>
                            <button type="button" class="btn btn-sm online">ONLINE</button>
                            
                                <div class="form-group pt-4">
                                  <label for="exampleInputEmail1" class="pb-2">Especialidade</label>
                                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                                <div class="botao1">
                                    <button type="submit" class="btn btn-light ">BUSCAR</button>

                                </div>
                              
                    </div>
                  </div>
            </div>

                </div>
            </div>
        </div>
    
    </main>


    <div class="flex-container quem-somos" >
        <div>
            <h2>Jornada acolhedora</h2>
            <p>  Ninguém merece sofrer por querer ser quem quiser ser. Aqui na u.tra contamos com profissionais a preços acessíveis para te amparar desde o começo da sua jornada..</p>
        </div>

        <div>
            <div>
                <div><img src="https://i.imgur.com/TeF2UDh.png" alt="abraço e acolhimento"></div>
            </div>
        </div>
    </div>

    <div class="flex-container quem-somos2 mt-5" >
        <div>
            <h2>Respostas e certezas</h2>
            <p> Nossas fontes de informações são fornecidas por profissionais qualificados das áreas de saúde e jurídica que estão dispostos a te atender da melhor maneira.</p>
        </div>

        <div>
            <div>
                <div><img src="https://i.imgur.com/cC2lvTb.png" alt="dúvidas "></div>
            </div>
        </div>
    </div>

    <div class="flex-container quem-somos" >
        <div>
            <h2>Serviços médicos</h2>
            <p> A u.tra te dá acesso a todos os serviços clínicos necessários em seu processo de transição. <p>
        </div>

        <div>
            <div>
                <div><img src="https://i.imgur.com/o0a3Pwg.png" alt="abraço e acolhimento"></div>
            </div>
        </div>
    </div>

    <div class="container-externo">
        <div class="flex-container" id="servicos">

            <div class="lista-servicos">
                <div class="item-servicos">
                    <div><img src="https://i.imgur.com/KEXTjwN.png" alt="Encontre as melhores informações"></div>
                    <p>Encontre as melhores informações</p>
                </div>

                <div class="item-servicos">
                    <div><img src="https://i.imgur.com/traMjzv.png" alt="Fale com especialistas"></div>
                    <p>Fale com especialistas</p>

                </div>

                <div class="item-servicos">
                    <div><img src="https://i.imgur.com/L8YQgw0.png" alt="Tire dúvidas sobre seu processo"></div>
                    <p>Tire dúvidas sobre seu processo</p>
                </div>

                <div class="item-servicos">
                    <div><img src="https://i.imgur.com/Bg8O9aM.png" alt="Receba o acolhimento que precisa"></div>
                    <p>Receba o acolhimento que precisa</p>
                </div>
            </div>
        </div>
    </div>


    
</body>